/* ---------------------------------------------------------
   PORTFOLIO MAIN STYLESHEET
   Modularized for easier maintenance.
   --------------------------------------------------------- */

@import url("./modules/themes.css");
@import url("./modules/base.css");
@import url("./modules/navigation.css");
@import url("./modules/sections.css");
@import url("./modules/projects.css");
@import url("./modules/contact.css");
@import url("./modules/animations.css");
@import url("./modules/responsive.css");

/* Shared Property (for jobTitle border animation) */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
